@model EmployeePortal.Models.EmpClass

@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        h1{
            text-align:center;
            color:forestgreen;
            padding:15px;
        }
        .header{
            background-color:black;
            width:100%;
        }
        
        
    </style>
</head>
<body>
    <div class="header">
        <h1>Welcome to Employee Portal!</h1>
    </div>
    <div class="Create">
        <form method="get" asp-action="Create" style="display:inline-block; margin-left:600px;">
            <button type="submit">Register</button>
        </form>

        <form method="get" asp-action="Create_" style="display:inline-block;">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
