@model EmployeePortal.Models.EmpClass

@{
    ViewData["Title"] = "Create";
}

<h1>Employee's Registration Portal</h1>
<hr />

<div class="row">
    <div class="col-md-9">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="EmpMailId" class="control-label"></label>
                <input asp-for="EmpMailId" class="form-control" />
                <span asp-validation-for="EmpMailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpDOB" class="control-label"></label>
                <input asp-for="EmpDOB" class="form-control" />
                <span asp-validation-for="EmpDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pwd" class="control-label"></label>
                <input asp-for="Pwd" class="form-control" type="password"/>
                <span asp-validation-for="Pwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPwd" class="control-label"></label>
                <input asp-for="ConfirmPwd" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @*<input asp-for="Gender" class="form-control" />*@
                <input type="radio" name="Gender" value="M" />Male
                <input type="radio" name="Gender" value="F" />Female
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Employee Record" class="btn btn-primary" />
            </div>
            <b>@ViewBag.message</b>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
